/* Combined CSS Styles */
body {
/*     font: 14px/1.4 'Open Sans', arial, sans-serif;
    font-family: 'Noto Sans Mono', monospace; /* Set the font-family */ */
    font-szie: 14px;
    background: #000; /* Assuming you want the background from the second style */
    color: #fff; /* Assuming white text for contrast on the black background */
    margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
  }
  
  #static-text, .typing {
    font-size: 2em;
    color: #fff; /* Change to white for contrast, if that's what you want */
  }
  
  .typing {
    display: inline;
    margin-left: 5px;
    vertical-align: bottom;
  }
  
  .typing-cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #cacaca;
    margin-left: 2px;
    vertical-align: bottom;
    animation: blink 1s step-end infinite;
  }
  .portfolio-item {
	margin-bottom: 25px;
  }
  
  @keyframes blink {
    from, to { background-color: transparent }
    50% { background-color: #cacaca; }
  }
  
  /* Additional styles from the second CSS */
  ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
    display: inline-block;
    position: relative;
  }
  
  a:after {    
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  
  @media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
  }
  
