@font-face {
    font-family: 'Manuka'; /* The name you want to reference in your CSS */
    src: url('fonts/TestManuka-Bold-BF663c33db7b03f.otf') format('opentype'); /* Use .otf file and 'opentype' format */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* Allows transparency */
    font-family: 'Manuka', Arial, sans-serif; /* Use Manuka as the font */
    color: #f0eae2; /* Eggshell color */
    font-size: 25px; /* Increased base font size */
    letter-spacing: 0.039em; /* Slightly wider letter spacing */
    overflow-x: hidden; /* Prevent horizontal scrollbars */


}


/* Background layers for smooth transitions */
#background, #background2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(5px); /* Adds a 5px blur to the background image */
    transition: opacity 2s ease-in-out; /* Smooth fade transition */
    opacity: 1;
}

#background2 {
    opacity: 0; /* Initially hidden */
}


#content {
    position: relative;
    text-align: center;
    margin: 0;    /* Ensure there's no margin */
    padding: 0;   /* Ensure there's no padding */}

#logo {
    width: 300px;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    display: block;     /* Treat the image as a block element */
    margin: 0 auto;     /* Center the image horizontally */
    margin-bottom: 0;   /* Remove space below the image */
}


#logo:hover {
    opacity: 1; /* Full opacity on hover */
}

#countdown-title {
    font-size: 3em;
    margin-bottom: 5px;
    text-align: center; /* Center the text if needed */
    margin-bottom: 0; /* Add this line */
    margin-top: 10px; /* Adjust this value as needed */
}

#Act1 {
    color: #f0eae2; /* Eggshell color */
    font-size: 2.5em;
    text-align: center; /* Center the text if needed */
}

#Act2 {
    color: #f0eae2; /* Eggshell color */
    font-size: 2.5em;
    text-align: center; /* Center the text if needed */
}

#Act3 {
    color: #f0eae2; /* Eggshell color */
    font-size: 2.5em;
    text-align: center; /* Center the text if needed */
}

#countdowns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.act {
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 30%;
    min-width: 150px;
    max-width: 250px;
    height: auto;
    text-align: center;
    color: #f0eae2; /* Eggshell color */
}


.act p {
    font-size: 2em;
    
}

#timezone-selector {
    margin-top: 10px;
}

#timezone-selector label {
    font-size: 1.25em !important; /* Increase the size of the label */
    display: block; /* Ensure the label is on its own line */
    margin-bottom: 10px; /* Add some space between label and select */
}

#timezone-selector select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    color: white;
}

#timezone-selector label {
    font-size: 16px;
    margin-right: 10px;
}

#timezone-times {
    margin-top: 20px;
}

#timezone-times h2 {
    font-size: 1.7em;
}

#timezone-times p {
    font-size: 1.5em;
}

@media (max-width: 600px) {
    .act {
        flex: 1 1 100%;
    }

    #logo {
        width: 150px;
    }
}

#footer-links {
    position: fixed;
    bottom: 10px;
    right: 30px;
    display: flex;
    gap: 20px;
    z-index: 1000;
}

/* Arcane icon specific size */
.arcane-icon {
    margin-top: 12px;
    width: 21px; /* Set size for Arcane icon */
    height: auto;
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

/* Netflix icon specific size */
.netflix-icon {
    margin-top: 10.5px;
    width: 15px; /* Set size for Netflix icon */
    height: auto;
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

.footer-icon:hover {
    opacity: 1;
}
